html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.img_container { position: relative; width: 100px; height: 100px; float: left; }
.img_checkbox { position: absolute; bottom: 0px; right: 0px; }
.img_srclink {
    position: absolute;
    top: 1px;
    right: 2px;
    width: 12px;
    height: 12px;
    filter: drop-shadow( 1px  1px 0px white)
            drop-shadow( 1px -1px 0px white)
            drop-shadow(-1px  1px 0px white)
            drop-shadow(-1px -1px 0px white);
}
.img_pattlink {
    position: absolute;
    top: 1px;
    right: 17px;
    width: 12px;
    height: 12px;
    filter: drop-shadow( 1px  1px 0px white)
            drop-shadow( 1px -1px 0px white)
            drop-shadow(-1px  1px 0px white)
            drop-shadow(-1px -1px 0px white);
}
.img_year {
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 12px;
    text-shadow:  1px  1px 1px white,
                  1px -1px 1px white,
                 -1px  1px 1px white,
                 -1px -1px 1px white;
}

.img_close {
    position: absolute;
    top: -3px;
    right: 3px;
    color: black;
    text-shadow:  1px  1px 1px white,
                  1px -1px 1px white,
                 -1px  1px 1px white,
                 -1px -1px 1px white;
}

.form-check-img {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-check-input-img {
    position: absolute;
    top: -4px;
    left: 21px;
    z-index: 2;
}

.form-check img {
    position: absolute;
    bottom: -2px;
    left: -2px;
    z-index: -1;
}

.form-check-label-img {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    line-height: 1; 
    font-size: 12px;
    text-shadow:  1px  1px 1px white,
                  1px -1px 1px white,
                 -1px  1px 1px white,
                 -1px -1px 1px white;
}

.error-modal {
   background-color: salmon;
} 
